html,
body {
  margin: 0;
  padding: 0;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.sample.splide:not(.is-active) .splide__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 240px);
  gap: 8px;
}
h1 {
text-align: center;
}